<%= render "shared/header" %>

<div class="main">

 <div class="question-btn">
  <%= link_to "たしざんをする", root_path, class:"plus-btn" %>
  <%= link_to "ひきざんをする", "#", class:"pull-btn" %> 
 </div>

</div>

<%= render "shared/footer" %>