<%= render "shared/header" %>


<body>
<div class="main-done">
    <ul class="done-lists", id="lists">
     <li>ここにこたえがでるよ</li>
    </ul>
    <input id="number1" type="text">
    <span>+</span>
    <input id="number2" type="text">
    <input id="calculate" type="button" value="計算">
    </div>
  </body>



<%= render "shared/footer" %>