<%= render "shared/header" %>

<div class="main">

 <div class="question-btn">
  <%= link_to "たしざんをする", "/additions/done", class:"plus-btn" %>
  <%= link_to "ひきざんをする", "/additions/subtraction", class:"pull-btn" %> 
 </div>

</div>

<%= render "shared/footer" %>