<%= render "shared/header" %>


<body>
<div class="main-done">
    <ul class="done-lists2", id="lists">
     <li>ここにこたえがでるよ</li>
    </ul>
    <input id="number3" type="text">
    <span>-</span>
    <input id="number4" type="text">
    <input id="calculate2" type="button" value="こたえ">
    </div>
  </body>


<%= render "shared/footer" %>